@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Outfit:wght@100..900&display=swap');

/* CSS Variables */
:root {
    --color-bg-dark: #0e1117;
    --color-bg-darker: #13171d;
    --color-border: #1d2129;
    --color-border-light: #343b4d;
    --color-text: #ffffff;
    --color-text-muted: #a3a3a3;
    --color-primary: #22b8cf;
    --control-width: 120px;
    --control-height: 40px;
    --radius-sm: 0.5rem;
    --radius-md: 0.8rem;
    --radius-lg: 0.9rem;
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 1.5rem;
    --transition-speed: 0.3s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    background-color: var(--color-bg-dark);
    font-family: 'Geist', sans-serif;
    color: var(--color-text);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.container-header {
    display: flex;
    gap: var(--gap-lg);
    margin: 2rem 0;
}

.container-header img{
    object-fit: contain;
    width: 40px;
    border-radius: var(--radius-sm);
    background-color: transparent;
    filter: drop-shadow(0px 0px 20px rgba(34, 184, 207, 0.9));
}

.container-header-content p {
    color: var(--color-text-muted);
}

/* View Notes */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
}

.container-note{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: var(--gap-md);
}

.container-view-note {
    background-color: var(--color-bg-darker);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    padding: var(--gap-lg);
    width: clamp(350px, 350px, 800px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.note-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-md);
}

.back-link{
    background-color: var(--color-primary);
    padding: 1.2rem;
    border-radius: var(--radius-sm);
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    transition: .3s all ease;
}

.back-link:hover {
    background-color: #35abbd;
    box-shadow: 0px 0px 25px 7px rgba(18, 113, 127, 0.3);
}
/* Media Query - Pantallas grandes */
@media (min-width: 1025px) {
    .container-note {
        grid-template-columns: repeat(3, 1fr);
    }

    .container-view-note {
        width: clamp(200px, 350px, 900px);
    }

    .back-link{
        margin: 2rem;
    }
}

/* Media Query - Tablets */
@media (min-width: 700px) and (max-width: 1100px) {
    
    .container-note {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-view-note {
        width: clamp(100px, 400px, 600px);
    }

    body {
        padding: 1.5rem;
    }
}

/* Media Query - Pantallas pequeñas */
@media (max-width: 768px) {
    
    .container-note {
        grid-template-columns: 1fr;
    }

    .container-view-note {
        width: clamp(150px, 300px, 800px);
    }
}

@media (max-width: 480px) {
    .container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-view-note {
        width: clamp(100px, 300px, 800px);
    }
}

